In [16]:
import urllib.request
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time

In [17]:
my_df = pd.read_csv("2016-2019pre_final.csv",encoding = 'cp949')

In [18]:
play_id = my_df['연극ID']
play_id_list = list(play_id)
data0_id = my_df.loc[my_df['예상관객수'] < 500]['연극ID']
data1_id = my_df.loc[my_df['예상관객수'] >= 500]['연극ID']

In [19]:
data0_id = list(data0_id)
data1_id = list(data1_id)

In [20]:
apikey = 'd2d444505af640df8e926c51e32aebca'
#detail_url = 'http://www.kopis.or.kr/openApi/restful/pblprfr/'+name+'?service='+apikey

In [29]:
noimage_0 = []

In [24]:
name = 'PF134671'

In [25]:
detail_url = 'http://www.kopis.or.kr/openApi/restful/pblprfr/'+name+'?service='+apikey
detail_response = requests.get(detail_url)
detail_soup = BeautifulSoup(detail_response.text, 'html.parser')
poster = detail_soup.select('poster')

In [28]:
poster[0].text[11:16]

'kopis'

In [31]:
for name in data0_id:
    detail_url = 'http://www.kopis.or.kr/openApi/restful/pblprfr/'+name+'?service='+apikey
    detail_response = requests.get(detail_url)
    detail_soup = BeautifulSoup(detail_response.text, 'html.parser')
    
    poster = detail_soup.select('poster')
    
    if poster[0].text[11:16] != 'kopis':
        noimage_0.append(name)
    
    else:
        poster_url = poster[0].text
        urllib.request.urlretrieve(poster_url, "./0/"+name +".jpg")
    
    #time.sleep(2)

In [33]:
len(noimage_0)

64

In [34]:
noimage_1 = []

In [35]:
for name in data1_id:
    detail_url = 'http://www.kopis.or.kr/openApi/restful/pblprfr/'+name+'?service='+apikey
    detail_response = requests.get(detail_url)
    detail_soup = BeautifulSoup(detail_response.text, 'html.parser')
    
    poster = detail_soup.select('poster')
    
    if poster[0].text[11:16] != 'kopis':
        noimage_1.append(name)
    
    else:
        poster_url = poster[0].text
        urllib.request.urlretrieve(poster_url, "./1/"+name +".jpg")

In [9]:
my_df

          연극ID               연극제목  공연시간 관객나이   티켓가격 공연장유형   객석수  공연수  예상관객수
0     PF134763         검정고무신 [부산]    90    7  30000    민간    80    1     80
1     PF134762                플랜비    90   11  20000    민간    70    1     70
2     PF134756               청춘예찬    80   13  30000    민간   100    5    500
3     PF134755       죽여주는이야기 [광주]   100    7  12000    공공  2226    4   8904
4     PF134750             염쟁이 유씨    90    8  30000    공공   514    5   2570
...        ...                ...   ...  ...    ...   ...   ...  ...    ...
1929  PF156381   러브액츄얼리 오리지날 [수원]    90    8  30000    공공  3062    7  21434
1930  PF156367         관람모드: 보는방식    70   15  30000    민간    50    6    300
1931  PF156366         검은스님들 [창원]    90   19  30000    민간    95   63   5985
1932  PF156365        뷰티풀라이프 [대구]    90    8  35000    민간   300   61  18300
1933  PF156351  창문 넘어 도망친 100세 노인   150   11  19000    민간   773   46  35558

[1934 rows x 9 columns]

In [36]:
noimage_0

['PF134650',
 'PF134296',
 'PF133861',
 'PF133793',
 'PF133662',
 'PF133549',
 'PF133492',
 'PF133235',
 'PF133211',
 'PF132809',
 'PF132759',
 'PF132754',
 'PF132753',
 'PF132595',
 'PF132593',
 'PF132253',
 'PF132209',
 'PF140564',
 'PF139568',
 'PF139013',
 'PF138943',
 'PF138906',
 'PF138905',
 'PF138904',
 'PF138903',
 'PF138899',
 'PF142845',
 'PF142577',
 'PF142330',
 'PF142327',
 'PF142287',
 'PF141914',
 'PF141913',
 'PF141912',
 'PF141911',
 'PF141910',
 'PF141909',
 'PF141908',
 'PF141907',
 'PF141581',
 'PF141580',
 'PF141118',
 'PF140468',
 'PF140462',
 'PF145639',
 'PF145608',
 'PF145348',
 'PF144956',
 'PF144903',
 'PF144900',
 'PF144899',
 'PF144897',
 'PF144793',
 'PF144589',
 'PF144309',
 'PF144232',
 'PF144231',
 'PF144230',
 'PF144229',
 'PF144228',
 'PF144088',
 'PF144087',
 'PF144086',
 'PF143785']

In [37]:
noimage_1

['PF134399',
 'PF134361',
 'PF134116',
 'PF133733',
 'PF133665',
 'PF133236',
 'PF133157',
 'PF133116',
 'PF133115',
 'PF133107',
 'PF133108',
 'PF133087',
 'PF133086',
 'PF133031',
 'PF132887',
 'PF132885',
 'PF132734',
 'PF132735',
 'PF132619',
 'PF132211',
 'PF132210',
 'PF141094']

In [43]:
a= {"id_0" : noimage_0 }

In [44]:
b = {"id_1": noimage_1}

In [45]:
ad = pd.DataFrame(a)
bd = pd.DataFrame(b)

In [46]:
ad.to_excel("noimage_0.xlsx", index = False)

In [47]:
bd.to_excel("noimage_1.xlsx", index = False)

In [48]:
c = pd.read_excel('noimage_0.xlsx')

In [49]:
c

        id_0   흥행실패포스터
0   PF134650  PF132209
1   PF134296  PF132253
2   PF133861  PF132593
3   PF133793  PF132595
4   PF133662  PF132753
..       ...       ...
59  PF144228  PF144903
60  PF144088  PF144956
61  PF144087  PF145348
62  PF144086  PF145608
63  PF143785  PF145639

[64 rows x 2 columns]

In [55]:
kk = list(c['흥행실패포스터'])
yu = list(c['id_0'])
x = []

In [56]:
for i in yu:
    if i  in kk : 
        x.append(i)

In [57]:
len(x)

64