In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
os.getcwd()

'C:\\Users\\choyujung\\Desktop\\경희대\\포스터 이미지로 광고효과'

In [ ]:
#os.chdir('C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/')

In [8]:
df = pd.read_excel("./권오병교수님/분석자료0522_복사본.xlsx",sheet_name = "통계분석용")

In [9]:
df.head(6)
#df.dtypes

,연극정보.mt20id,대표연극인유명도,공연시간,관객나이,가격,OPENRUN,요일수,공연장수,공연장유형,공연장유형1,공연장연혁,seatscale,수도권여부,수도권여부1,유명도binary,prfdtcnt,예상관객수
0,PF162980,2,100.0,10.0,30000,0,4,1,공공,공공,13.0,200,1,수도권,1,4,800
1,PF162923,2,100.0,10.0,30000,0,4,1,공공,공공,13.0,200,1,수도권,1,1,200
2,PF162980,2,90.0,15.0,12000,0,4,1,민간,민간,3.0,65,2,수도권,1,4,260
3,PF162849,1,100.0,13.0,30000,0,4,1,민간,민간,7.0,280,0,전국,1,4,1120
4,PF162833,2,90.0,8.0,11900,0,1,2,공공,공공,16.0,768,2,수도권,1,1,768
5,PF162610,2,NaN,NaN,0,0,1,4,국립,공공,48.0,2802,2,수도권,1,1,2802

In [10]:
df.columns

Index(['연극정보.mt20id', '대표연극인유명도', '공연시간', '관객나이', '가격', 'OPENRUN', '요일수',
       '공연장수', '공연장유형', '공연장유형1', '공연장연혁', 'seatscale', '수도권여부', '수도권여부1',
       '유명도binary', 'prfdtcnt', '예상관객수'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 17 columns):
연극정보.mt20id    400 non-null object
대표연극인유명도       400 non-null int64
공연시간           380 non-null float64
관객나이           399 non-null float64
가격             400 non-null int64
OPENRUN        400 non-null int64
요일수            400 non-null int64
공연장수           400 non-null int64
공연장유형          400 non-null object
공연장유형1         400 non-null object
공연장연혁          395 non-null float64
seatscale      400 non-null int64
수도권여부          400 non-null int64
수도권여부1         400 non-null object
유명도binary      400 non-null int64
prfdtcnt       400 non-null int64
예상관객수          400 non-null int64
dtypes: float64(3), int64(10), object(4)
memory usage: 53.2+ KB

In [ ]:
#df['관객나이'].value_counts()

In [ ]:
# df['관객나이']=df['관객나이'].fillna(0)

In [ ]:
#df['관객나이']

In [ ]:
# df['관객나이']=pd.to_numeric(df['관객나이'])

### 0 폴더

In [ ]:
no_image = df['연극정보.mt20id'].isin(['PF155351','PF162980'])

In [ ]:
df=df[~no_image]

In [ ]:
df.info()

In [ ]:
df_0 = df[(df['관객나이']>=1) & (df['관객나이']<=7)]

In [ ]:
df_1 = df[(df['관객나이']>=13)]

In [ ]:
df_2 = df[(df['예상관객수']<500)]

In [ ]:
df_3 = df[(df['예상관객수']>=500)]

In [ ]:
df_3.info()

In [ ]:
#df_0.to_csv("0번폴더.csv",index= False)

In [ ]:
#df.to_csv("이상값제거.csv",index=False)

In [ ]:
df_0_index=df_0['연극정보.mt20id'].tolist()

In [ ]:
df_1_index=df_1['연극정보.mt20id'].tolist()

In [ ]:
df_2_index=df_2['연극정보.mt20id'].tolist()

In [ ]:
df_3_index=df_3['연극정보.mt20id'].tolist()

In [ ]:
type(df_2_index)

In [ ]:
type(df_0_index)

In [ ]:
'PF155351' in df_1_index

In [ ]:
len(df_3_index)

In [ ]:
df_0['연극정보.mt20id']

In [ ]:
df_0_index[0]

In [ ]:
from PIL import Image

In [ ]:
import os

In [ ]:
os.getcwd()

In [ ]:
os.chdir('C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/images')

In [ ]:
os.path.basename('C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/images/images/')

In [ ]:
from os import listdir
from os.path import isfile, join

In [ ]:
files = [f for f in listdir('C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/images/images/images_jpg') if isfile(join('C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/images/images/images_jpg', f))]

In [ ]:
files = [f for f in listdir('C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/images/images/images_jpg') if isfile(join('C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/images/images/images_jpg', f))]

In [ ]:
files = [f for f in listdir('C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/images/images') if isfile(join('C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/images/images', f))]

In [ ]:
type(files)

In [ ]:
files

In [ ]:
x=[]

In [ ]:
for i in range(len(files)):
    x.append(files[i].split('.')[0])
   
    # x.append()

In [ ]:
x

In [ ]:
n = df['연극정보.mt20id'].tolist()

In [ ]:
len(n)

In [ ]:
len(x)

In [ ]:
len(n)-len(x)

In [ ]:
range(len(x))

In [ ]:
y=[]

In [ ]:
for p in range(len(n)):
    if n[p] not in x:
        print(n[p])

In [ ]:
df.duplicated(['연극정보.mt20id']).count()

In [ ]:
if x[1] not in n:
    print(x[1])

In [ ]:
import shutil

In [ ]:
os.getcwd()

In [ ]:
#shutil.move('C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/images/images_jpg/[포맷변환]'+df_0_index[0]+'.jpg', "C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/0/data1.jpg")

In [ ]:
shutil.copy('C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/images/images_jpg/[포맷변환]'+df_0_index[0]+'.jpg', "C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/0/"+df_0_index[0]+".jpg")

In [ ]:
for i in range(len(df_0_index)):
    shutil.copy('C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/images/images_jpg/[포맷변환]'+df_0_index[i]+'.jpg', "C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/0/"+df_0_index[i]+".jpg")

In [ ]:
for j in range(len(df_1_index)):
    shutil.copy('C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/images/images_jpg/[포맷변환]'+df_1_index[j]+'.jpg', "C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/1/"+df_1_index[j]+".jpg")

In [ ]:
for k in range(len(df_2_index)):
    shutil.copy('C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/images/images_jpg/[포맷변환]'+df_2_index[k]+'.jpg', "C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/2/"+df_2_index[k]+".jpg")

In [ ]:
for t in range(len(df_3_index)):
    shutil.copy('C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/images/images_jpg/[포맷변환]'+df_3_index[t]+'.jpg', "C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/3/"+df_3_index[t]+".jpg")

In [ ]:
import glob

In [ ]:
a= glob.glob('C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/images/images/PF154694/*')

In [ ]:
a

In [ ]:
im = Image.open('C:/Users/choyujung/Desktop/경희대/TA/권오병교수님/images/images_jpg/[포맷변환]'+df_0_index[0]+'.jpg') # 이미지 불러오기

In [ ]:
im

In [ ]:
im.save('rename.jpeg') # 이미지 다른 이름으로 저장

## new_database merge

In [108]:
df = pd.read_excel("./권오병교수님/분석자료0522_복사본.xlsx",sheet_name = "통계분석용")

In [109]:
df.head()

,연극정보.mt20id,대표연극인유명도,공연시간,관객나이,가격,OPENRUN,요일수,공연장수,공연장유형,공연장유형1,공연장연혁,seatscale,수도권여부,수도권여부1,유명도binary,prfdtcnt,예상관객수
0,PF162980,2,100.0,10.0,30000,0,4,1,공공,공공,13.0,200,1,수도권,1,4,800
1,PF162923,2,100.0,10.0,30000,0,4,1,공공,공공,13.0,200,1,수도권,1,1,200
2,PF162980,2,90.0,15.0,12000,0,4,1,민간,민간,3.0,65,2,수도권,1,4,260
3,PF162849,1,100.0,13.0,30000,0,4,1,민간,민간,7.0,280,0,전국,1,4,1120
4,PF162833,2,90.0,8.0,11900,0,1,2,공공,공공,16.0,768,2,수도권,1,1,768

In [131]:
t0 = pd.read_csv("./poster_new_info/0_text_count.csv")
t1 = pd.read_csv("./poster_new_info/1_text_count.csv")

In [132]:
t0.head()

   Unnamed: 0  filename  0folder_text
0           0  PF154694            56
1           1  PF154831             0
2           2  PF154858            39
3           3  PF154885            58
4           4  PF154887            62

In [133]:
t0=t0.rename(columns={t0.columns[0] : 'index',t0.columns[2] : 'text_count'})
t1=t1.rename(columns={t1.columns[0] : 'index',t1.columns[2] : 'text_count'})

In [134]:
t1.head()

   index  filename  text_count
0      0  PF154728          40
1      1  PF154745          73
2      2  PF154746         165
3      3  PF154758          13
4      4  PF154776           9

In [135]:
text_df = pd.concat([t0,t1])

In [136]:
text_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 344 entries, 0 to 219
Data columns (total 3 columns):
index         344 non-null int64
filename      344 non-null object
text_count    344 non-null int64
dtypes: int64(2), object(1)
memory usage: 10.8+ KB

In [137]:
text_df.head()

   index  filename  text_count
0      0  PF154694          56
1      1  PF154831           0
2      2  PF154858          39
3      3  PF154885          58
4      4  PF154887          62

In [138]:
text_df = text_df.rename(columns = {text_df.columns[1]:'연극정보.mt20id'})

In [139]:
text_df = text_df.iloc[:,1:3]

In [140]:
text_df.head()

  연극정보.mt20id  text_count
0    PF154694          56
1    PF154831           0
2    PF154858          39
3    PF154885          58
4    PF154887          62

In [119]:
c0 = pd.read_csv("./poster_new_info/color_df_0.csv")
c1 = pd.read_csv("./poster_new_info/color_df_1.csv")

In [120]:
c0.head()

  filenames           R           G           B  brightness        lumi
0  PF154694  118.579576   54.346142   53.352419   75.426046   67.930423
1  PF154831  253.821625  252.929866  252.887844  253.213112  253.116420
2  PF154858   22.514220   22.825590   22.920069   22.753293   22.766214
3  PF154885   57.961107   63.056864   61.489695   60.835889   61.860357
4  PF154887   73.730505   74.273067   74.413172   74.138914   74.167834

In [121]:
c1.head()

  filenames           R           G           B  brightness        lumi
0  PF154728  100.265039   68.448313   57.805636   75.506329   74.444147
1  PF154745   87.926671  176.320020  190.397625  151.548105  158.543997
2  PF154746   70.467019   75.038428  136.125687   93.877045   78.477047
3  PF154758  136.088139  139.451802  176.127589  150.555843  141.384679
4  PF154776  137.669856  150.779358  137.638401  142.029205  147.043501

In [ ]:
# t0=t0.rename(columns={t0.columns[0] : 'index',t0.columns[2] : 'text_count'})
# t1=t1.rename(columns={t1.columns[0] : 'index',t1.columns[2] : 'text_count'})

In [122]:
color_df = pd.concat([c0,c1])

In [123]:
color_df.head()

  filenames           R           G           B  brightness        lumi
0  PF154694  118.579576   54.346142   53.352419   75.426046   67.930423
1  PF154831  253.821625  252.929866  252.887844  253.213112  253.116420
2  PF154858   22.514220   22.825590   22.920069   22.753293   22.766214
3  PF154885   57.961107   63.056864   61.489695   60.835889   61.860357
4  PF154887   73.730505   74.273067   74.413172   74.138914   74.167834

In [124]:
color_df = color_df.rename(columns = {color_df.columns[0]:'연극정보.mt20id'})

In [125]:
color_df.head()

  연극정보.mt20id           R           G           B  brightness        lumi
0    PF154694  118.579576   54.346142   53.352419   75.426046   67.930423
1    PF154831  253.821625  252.929866  252.887844  253.213112  253.116420
2    PF154858   22.514220   22.825590   22.920069   22.753293   22.766214
3    PF154885   57.961107   63.056864   61.489695   60.835889   61.860357
4    PF154887   73.730505   74.273067   74.413172   74.138914   74.167834

In [ ]:
face_df

In [141]:
df1 = pd.merge(df, text_df, on='연극정보.mt20id',how = 'left' )

In [142]:
df1.head()

,연극정보.mt20id,대표연극인유명도,공연시간,관객나이,가격,OPENRUN,요일수,공연장수,공연장유형,공연장유형1,공연장연혁,seatscale,수도권여부,수도권여부1,유명도binary,prfdtcnt,예상관객수,text_count
0,PF162980,2,100.0,10.0,30000,0,4,1,공공,공공,13.0,200,1,수도권,1,4,800,50.0
1,PF162923,2,100.0,10.0,30000,0,4,1,공공,공공,13.0,200,1,수도권,1,1,200,73.0
2,PF162980,2,90.0,15.0,12000,0,4,1,민간,민간,3.0,65,2,수도권,1,4,260,50.0
3,PF162849,1,100.0,13.0,30000,0,4,1,민간,민간,7.0,280,0,전국,1,4,1120,113.0
4,PF162833,2,90.0,8.0,11900,0,1,2,공공,공공,16.0,768,2,수도권,1,1,768,62.0

In [143]:
df2 = pd.merge(df1,color_df,on='연극정보.mt20id',how = 'left')

In [144]:
df2.head()

,연극정보.mt20id,대표연극인유명도,공연시간,관객나이,가격,OPENRUN,요일수,공연장수,공연장유형,공연장유형1,...,수도권여부1,유명도binary,prfdtcnt,예상관객수,text_count,R,G,B,brightness,lumi
0,PF162980,2,100.0,10.0,30000,0,4,1,공공,공공,...,수도권,1,4,800,50.0,35.245765,23.018015,19.815773,26.026518,25.386433
1,PF162923,2,100.0,10.0,30000,0,4,1,공공,공공,...,수도권,1,1,200,73.0,181.954806,146.551037,94.940932,141.148925,150.351629
2,PF162980,2,90.0,15.0,12000,0,4,1,민간,민간,...,수도권,1,4,260,50.0,35.245765,23.018015,19.815773,26.026518,25.386433
3,PF162849,1,100.0,13.0,30000,0,4,1,민간,민간,...,전국,1,4,1120,113.0,173.823273,89.941804,91.264931,118.343336,107.870534
4,PF162833,2,90.0,8.0,11900,0,1,2,공공,공공,...,수도권,1,1,768,62.0,199.913213,193.188076,205.457534,199.519608,195.503695

In [145]:
#df2.to_csv('text_color_add.csv',index = False)

In [149]:
df2=df2.drop_duplicates(['연극정보.mt20id'])

In [150]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 399 entries, 0 to 399
Data columns (total 23 columns):
연극정보.mt20id    399 non-null object
대표연극인유명도       399 non-null int64
공연시간           379 non-null float64
관객나이           398 non-null float64
가격             399 non-null int64
OPENRUN        399 non-null int64
요일수            399 non-null int64
공연장수           399 non-null int64
공연장유형          399 non-null object
공연장유형1         399 non-null object
공연장연혁          394 non-null float64
seatscale      399 non-null int64
수도권여부          399 non-null int64
수도권여부1         399 non-null object
유명도binary      399 non-null int64
prfdtcnt       399 non-null int64
예상관객수          399 non-null int64
text_count     344 non-null float64
R              344 non-null float64
G              344 non-null float64
B              344 non-null float64
brightness     344 non-null float64
lumi           344 non-null float64
dtypes: float64(9), int64(10), object(4)
memory usage: 74.8+ KB

In [151]:
df2.to_csv('text_color_add.csv',index = False)